#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        BASE {
            bindings = <
&kp Q         &kp W        &kp E   &kp R   &kp T        &kp Y            &kp U  &kp I      &kp O    &kp P
&kp A         &kp S        &kp D   &kp F   &kp G        &kp H            &kp J  &kp K      &kp L    &kp SQT
&kp Z         &kp X        &kp C   &kp V   &kp B        &kp N            &kp M  &kp COMMA  &kp DOT  &kp SLASH
&lt 1 ESCAPE  &lt 2 SPACE  &trans  &trans  &lt 4 ENTER  &lt 3 BACKSPACE
            >;
        };

        NAV {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &kp HOME  &kp END   &trans        &trans     &trans
&trans  &trans  &trans  &trans  &trans  &kp LEFT  &kp DOWN  &kp UP_ARROW  &kp RIGHT  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans        &trans     &trans
&trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        NUM {
            bindings = <
&trans  &trans  &trans  &trans  &mo 3   &trans  &kp N7        &kp N8        &kp N9        &trans
&trans  &trans  &trans  &trans  &trans  &trans  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans
&trans  &trans  &trans  &trans  &kp N0  &trans
            >;
        };

        NUM_RAISE {
            bindings = <
&trans  &trans  &trans  &trans  &trans   &trans  &kp F7  &kp F8  &kp F9  &trans
&trans  &trans  &trans  &trans  &trans   &trans  &kp F4  &kp F5  &kp F6  &kp F12
&trans  &trans  &trans  &trans  &trans   &trans  &kp F1  &kp F2  &kp F3  &kp F11
&trans  &trans  &trans  &trans  &kp F10  &trans
            >;
        };

        SYM {
            bindings = <
&kp EXCL   &trans         &trans     &kp LEFT_BRACE        &trans  &trans  &kp RIGHT_BRACE        &kp DOUBLE_QUOTES  &trans  &trans
&kp CARET  &kp AMPERSAND  &kp MINUS  &kp LEFT_PARENTHESIS  &kp LT  &kp GT  &kp RIGHT_PARENTHESIS  &kp SINGLE_QUOTE   &trans  &trans
&trans     &trans         &kp UNDER  &kp LEFT_BRACKET      &trans  &trans  &kp RIGHT_BRACKET      &kp GRAVE          &trans  &trans
&trans     &trans         &trans     &trans                &trans  &trans
            >;
        };
    };
};
